@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.auth-wrapper {
    max-width: 500px; /* Menjadikan wrapper lebih lebar */
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px; /* Menambahkan radius border */
    border: 2px solid #000; /* Memberikan border hitam */
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Form styling */
  .form-signin {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Input styling */
  .form-control {
    border-radius: 5px;
    border-color: #ced4da;
  }
  
  /* Button styling */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  